<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
        
        <%= form_with model:@user, local:true do |f| %>
        
          
        <% if @user.errors.any? %>
        <div class=errors>
          <% if @user.errors.count == 1 %>
          <h3><%= @user.errors.count %> error prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
          <% else %>
          <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
          <% end %>
        </div>
        <% end %>
          
          <div class="form-group">
            <p>Name</p>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        
          <div class="form-group">
            <p>Image</p>
            <%= f.attachment_field :profile_image %>
          </div>
  
          <div class="form-group">
            <p>Introduction</p>
            <%= f.text_area :introduction, class: "form-control" %>
          </div>
  
          <div class="form-group">
            <%= f.submit 'Update User', class:'btn btn-secondary' %>
          </div>
        
        <% end %>
      </div>
    </div>
  </div>