      <h2>User info</h2>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
      
      <table class="table">
        <tbody>
          <tr>
	          <th>name</th> <th><%= user.name %></th>
          </tr>
          <tr>
	        <th>introduction</th> <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
　
      <div class="row">
        <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block btn-sm", method: :get do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
  
      <h2 class="mt-3">New book</h2>
      <%= form_with model: @book, local:true do |f| %>
  
      <form>
        <div class="form-group">
          <p>Title</p>
          <%= f.text_field :title, class: "form-control" %>
        </div>
  
        <div class="form-group">
          <p>Opinion</p>
          <%= f.text_area :body, class: "form-control" %>
        </div>
  
        <div class="form-group">
          <%= f.submit 'Create Book', class:'btn btn-success' %>
        </div>
      <% end %>
      </form>